.statistics {
  width: var(--main-width);
  margin: 0 auto 20px;

  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.title {
  padding: 20px 60px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.statList {
  display: flex;
}

.item {
  width: 20%;
  padding: 10px 10px;
}

.item1 {
  background-color: rgba(0, 255, 255, 0.7);
}

.item2 {
  background-color: rgba(148, 0, 211, 0.7);
}

.item3 {
  background-color: rgba(219, 20, 60, 0.7);
}

.item4 {
  background-color: rgba(0, 191, 255, 0.7);
}

.item5 {
  background-color: rgba(15, 74, 94, 0.7);
}

.label {
  display: block;
  margin-bottom: 8px;

  font-size: 12px;
  text-align: center;

  color: var(--additional-color);
}

.percentage {
  display: block;

  font-size: 16px;
  font-weight: 600;
  text-align: center;

  color: var(--additional-color);
}
